button {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: #160505;
  width: 300px;
  height: 50px;
  justify-content: center;
  transition: all 0.3s ease;
  outline: none;
}

button :focus-visible{
  box-shadow:0 0 0 3px rgba(160, 160, 160, 0.4);
}

/* Default */
button[data-variant="primary-alt"] {
  background: #2d0a0a;
  color: #fff;
  border-color: #2d0a0a;
}
button[data-variant="primary-alt"]:hover:not(:disabled) {
  background: #3d0f0f;
  border-color: #3d0f0f;
}

/* Secondary */
button[data-variant="secondary"] {
  background: #f4f3f3;
  color: #160505;
  border-color: #ece8e8;
}
button[data-variant="secondary"]:hover:not(:disabled) {
  background: #e9e8e8;
}

/* Outline */
button[data-variant="outline"] {
  background: transparent;
  color: #160505;
  border-color: #160505;
}
button[data-variant="outline"]:hover:not(:disabled) {
  background: #160505;
  color: #fff;
}

/* Ghost */
button[data-variant="ghost"] {
  background: transparent;
  color: #160505;
  border-color: transparent;
}
button[data-variant="ghost"]:hover:not(:disabled) {
  background: #f5f0f0;
}

/* Destructive */

button[data-variant = "destructive"] {
  background: #f53d40;
  color: #fff;
  border-color:#f53d40;
}
button[data-variant = "destructive"] :hover:not(:disabled) {
  background: #ff7875;
  border-color: #ff7875;
}
button[data-variant = "destructive"]:active:not(:disabled) {
  background: #ff7875;
  border-color: #ff7875;
} 

/* Destructive Ghost */
button[data-variant = "destructive-ghost"] {
  background: transparent;
  color: #f53d40;
  border-color: transparent;
}
button[data-variant = "destructive-ghost"] :hover:not(:disabled) {
  background: rgba(245, 61, 64, 0.1);
}
button[data-variant = "destructive-ghost"]:active:not(:disabled) {
  background: rgba(245, 61, 64, 0.2);
}

/* Inverse  */
button[data-variant = "inverse"] {
  background: #fff;
  color: #160505;
  border-color: #fff;
}
button[data-variant = "inverse"] :hover:not(:disabled) {
  background: #f0f0f0;
  border-color: #f0f0f0;
}
button[data-variant = "inverse"]:active:not(:disabled) {
  background: #e0e0e0;
  border-color: #e0e0e0;
}

/* Outline Inverse */
button[data-variant = "outline-inverse"] {
  background: #f0f0f0;
  color: #fff;
  border-color: #fff;
}
button[data-variant = "outline-inverse"] :hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.1);
}
button[data-variant = "outline-inverse"]:active:not(:disabled) {
  background: rgba(255, 255, 255, 0.2);
} 

/* Ghost Inverse */
button[data-variant = "ghost-inverse"] {
  background: transparent;
  color: #fff;
  border-color: transparent;
}
button[data-variant = "ghost-inverse"] :hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.1);
}
button[data-variant = "ghost-inverse"]:active:not(:disabled) {
  background: rgba(255, 255, 255, 0.2);
} 